[buildout]

package-name = rer.groupware.star

parts =
    instance
    zopepy
    i18ndude
    zopeskel
    test
    omelette

extends =
    http://dist.plone.org/release/5.2.6/versions.cfg
    sources.cfg

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/5.2.6
    http://dist.plone.org/thirdparty

extensions =
    mr.developer

sources = sources

versions = versions

# Create bin/instance command to manage Zope start up and shutdown
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage

environment-vars =
    zope_i18n_compile_mo_files true

eggs =
    Pillow
    Plone
    plone.reload
    Products.PrintingMailHost
    rer.groupware.star

zcml =
    rer.groupware.room:room-events.zcml

# zopepy commands allows you to execute Python scripts using a PYTHONPATH
# including all the configured eggs
[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

# create bin/test command
[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    ${instance:eggs}

# create ZopeSkel and paster commands with dexterity support
[zopeskel]
recipe = zc.recipe.egg
eggs =
    ZopeSkel
    PasteScript
    zopeskel.dexterity

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

# Version pindowns for new style products go here - this section extends one
# provided in http://dist.plone.org/release/
[versions]
ZopeSkel = 2.21.2
zc.buildout = 2.13.3
